@model IEnumerable<CBIB.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h3>List of all authors</h3>

<table class="table">
    <thead>
        <tr>
                <th>
                    Author
                </th>   
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname) @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AuthorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AuthorID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
